/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Shrikhand&display=swap');

/* Général */

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--main-font);
}

:root {
    /** Colors **/
    --black-grey-color: #252525;
    --orange-color: #ff7800;
    --yellow-color: #ffae00;
    --black-color: #000;
    --white-color: #fff;
    /** Fonts **/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --title-font: "Shrikhand", serif;
}

h1 {
    font-family: var(--title-font);
    color:var(--black-color);  
}

h2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--black-color);
    padding: 30px 0;
}

p {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 15px;
}

.p-class {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 15px;
}

.p-two-class {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
}

a {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    /* color: var(--black-grey-color); */
    transition: all 0.3ms ease-in-out;
    cursor: pointer;
    color:var(--black-color);
}

a:hover {
    color:var(--orange-color);
    transition: all 0.3ms ease-in-out;
}

ul {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 15px;
    list-style-type: none;
    padding-left: 0;
}

/* Components */

.btn {
    background: linear-gradient(198.58deg, #FF7800 15.56%, #FFAE00 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 16px;
}

.card {
    color: var(--black-grey-color);
}
/* Header */

header {
    display: flex;
}

header #logo{
    padding: 15px 0;
    margin: 0 auto;
}

#nav-menu {
    display: none;
}

#burger-menu{
    top: 28px;
    right: 14px;
    margin: auto;
}

/* Main */

/* Section 1: Search By Location*/

#search-by-location{
    text-align: center;
    padding: 30px 15px;
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

input[type=search]{
    border: none;
    background-color: var(--yellow-color);
    height: 18px;
    max-width: 100%;
    width: 275px;
    border-radius: 20px;
    padding: 20px 15px;
}

#search-by-location h2 {
    flex-wrap: nowrap;
}

main #search-by-location article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Section 2 : How to */

#how-to ul li {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    flex-direction: row;
    display: flex;
    position: relative;
}

#how-to ul li:nth-child(1)::before {
    content: "1";
    position: absolute;
    left: -1px;
    background-color: var(--orange-color);
    border-radius: 12px;
    padding: 16px 10px;
}


/* #how-to ul li:nth-child(2)::before {
    content: '2';
    position: absolute;
    left: -1px;
    background-color: var(--orange-color);
    border-radius: 12px;
    padding: 16px 10px;
}

#how-to ul li:nth-child(3)::before {
    content: '3';
    position: absolute;
    left: -1px;
    background-color: var(--orange-color);
    border-radius: 12px;
    padding: 16px 10px;
} */

#how-to ul li a {
    /* padding: 20px; */
    /* margin: 80px 20px; */
    justify-content: center; /* left */
    /* display: flex; */
    flex-direction: column;
}

#how-to ul li span {
    /* display: flex; */
    flex-direction: column;
}

#how-to {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figure {
    background-color: var(--orange-color);
    color: var(--white-color);
    height: 25px;
    width: 25px;
    border-radius: 12.02px;
}

/* Section 3: pro-list */

#pro-list {
    background-color: var(--yellow-color);
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* #pro-list .label-new img {
    /* width: 324px; */
    /* width: 275px;
    border-radius: 20px 20px 0 0;
} */ 

#pro-list .label-new img {
    /* width: 324px; */
    /* width: 275px; */
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.label-new {
    border-radius: 20px 20px 20px 20px;
    background-color: var(--white-color);
    /* position: relative; */
}

.label-new section {
    padding: 14px 10px 12px 10px;
}

.label-new a {
    color:var(--black-grey-color);
}

.label-new .icon-label {
    /* border-top-color: solid 1px var(--orange-color); */
    border-top: solid 1px var(--orange-color);
    padding: 13px 0 12px 0;
}

.label-new label {
    display: flex;
    justify-content: space-between;
}

.label-new .p-class {
    padding-bottom: 12px;
}

.icon-toggle {
    display: none;
}

.icon-label {
    /* font-size: 2rem; */
    cursor: pointer;
    /* gap */
}

.icon-label .fa-regular {
    display: inline-block;
}

.icon-toggle:checked + .icon-label .fa-regular {
    display: none;
}

.icon-toggle:checked + .icon-label .fa-solid {
    display: inline-block;
}

.icon-label .fa-solid {
    display: none;
}

.new-mark {
    /* position: absolute; */
}

#pro-list>a {
    width: 103.75px;
    text-align: center;
    margin: auto;
}

/* Footer */

footer {
    background-color: var(--black-grey-color);
    color: var(--white-color);
    padding: 15px;
}

footer h2 {
    font-family: var(--title-font);
    color: var(--white-color);
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 25px;
}

footer>ul li{
    /* gap: 12px; */
    margin: 12px 0;
}

footer a {
    color:var(--white-color);
}